<html>
	<head>
		<title>Create User</title>
	</head>
	<body>
		<h1>Create User</h1>
		
		<form action="/user/create" method="post">
			<label for="username">Username: </label><input type="input" name="username" />
			<label for="password">Password: </label><input type="password" name="password" />
			<input type="submit" value="Create User" />
		</form>
	</body>
</html>