<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Amplifriend!</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
<!--[if lt IE 7]>
        <script type="text/javascript" src="unitpngfix.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
</script>
<style>

tbody tr:hover 	{}

textarea { width: 100%; height: 100px;}

#posts,#post
{
	margin-top:15px;
}

</style>
</head>
<body>
<div class="container_16">
    <div class="header">
        <div class="grid_6"><a href="/"><img src="/images/ffollo.png" class="logo" /></a></div>
        <div class="grid_10 slogan">
        </div>
    </div>
</div>

<div class="clear">&nbsp;</div>

<div class="container_16 topmenubg">
    <div class="topmenu">
       <span style="color: white; font-weight: 800; margin-top: 7px;">This is beta... and in development - it might break.</span>
    </div>
</div>

<div class="clear">&nbsp;</div>

<div id="home-slider" >
    <div class="container_16" id="boos">
        <div class="grid_12">
			<div id="post">
			<h2>Add a New Friend</h2>
			<form method="post" action="/{{user.username}}/friend/create">	
				<input type="text" name="friend" />
				<input type="submit" name="Add" />
			</form>
			<h2>Friends</h2>
			
			</div>
       </div>
	   <div class="grid_4">
			<div style="padding:15px;">
				<h2>Helpful Links</h2>
				<ul>
					<li><a href="/{{user.username}}/subscriptions">Your Content</a></li>
					<li><a href="/{{user.username}}/friends">Your Friends</a></li>
					<li><a href="/session/delete">Logout</a></li>
				</ul>
			</div>
	   </div>
 			<div class="clear">&nbsp;</div>
		
    </div>

    <div class="bg_bottom"></div>
</div>
<div class="clear">&nbsp;</div>
<div class="container_16" id="footer">
    <div class="grid_11" style="background-color: #484848 ;">
        <div class="footer">&copy; Copyright 2009. All Rights Reserved.<br />
            Powered by <a href="http://www.topicala.com/">Topicala Ltd</a></div>

    </div>

 	<div class="grid_5" style="background-color: #484848 ;">
       
        <div class="footer">
            <a href="/terms">Terms</a> | <a href="/contact">Contact</a> | <a href="/">Home</a></div>
    </div>
</div>
</body>
</html>