Hi,

Welcome to Amplifriend (http://www.amplifriend.com/).

Your username is: {{ user.username }}
Your password is: {{ user.password }}

You can login in at http://www.amplifriend.com/

Kind Regards,
Paul Kinlan

Topicala Ltd
http://www.topicala.com